@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #1f1f1f;
}

body {
    color: white;
    background: var(--background-color);
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
