@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #fafafa;
}

body {
    color: black;
    background: var(--background-color);
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

h4 {
    font-size: 2rem;
    font-weight: 600;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
