@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #1f1f1f;
}

body {
    background: var(--background-color);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
